.footer{
    width: 100%;
    height: 300px;
    background-color:#0c4a6e;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    position: relative;
  

}
.container{
    width: 95%;
    height: 90%;
    margin:auto;
    padding-top: 30px;
  
}
.containerMenu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.containerMenu .leftContainer{
    width: 25%;
}
.containerMenu .leftContainer p{
    font-size: 13px;
    text-align: justify;
    hyphens: auto;
    width: 100%;
}
.copyrightInfo{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
    color: rgb(191, 196, 202);
    
}
.copyrightInfo hr.line{
    margin-bottom: 10px;
    border: #1b5170 1px solid;
}
.copyrightInfo p{
    margin-top: 15px;
}
.footer .header{
    position: relative;
    margin-bottom: 25px;
    font-weight: bold;
}
.footer .header::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.5px;
    width: 30px;
    height: 2px;
    background-color: #f74949;

  }
  .linkContainer ul li:not(:first-child){
    padding-top: 10px;
  }
  .linkContainer ul li{
    font-size: 14px;
  }
  .aboutContainer .content{
    font-size: 14px;
  }
  .socialLinks i{
    padding-right: 25px;
    font-size: 24px;
    transition: 0.5s ease;
    cursor: pointer;
  }
  .socialLinks i:hover{
    transform: scale(1.2);
  }
  @media screen and (max-width: 768px){
    .footer{
       height: fit-content;
       padding: 20px 10px;
       display: block;
    }
    .footer .rightMenu{
        display: none;
    }
    .containerMenu{
        flex-direction: column;
        gap: 15px;
    }
    .footer .leftContainer{
        width: 95%;
    }
    .container{
        width: 90%;
        height: 80%;
        margin-bottom: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
   .footer .copyrightInfo{
    padding-bottom: 0px;
   }
    .copyrightInfo p{
        font-size: 13px;
        
    }
    .linkContainer ul li:not(:first-child){
        padding-top: 25px;
      }
      
  }