.textInputContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 95%;
}
.formControl{
    display: block;
    width: 100%;
}
.textInputContainer input[type="text"]{
    border-radius: 3px;
    padding: 3px 5px;
    border: 1px solid gray;
}
