.hero{
    width: 100%;
    height: 60vh;
    z-index: -10;
    background-color: #0c4a6e;
    font-size: 16px;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    
}
.hero .leftContainer{
    color: whitesmoke;
}
.hero .container{
    color: rgb(245, 102, 102);
    position: absolute;
    left: 38%;
}
.hero .container .box{
    width: 400px;
    color: whitesmoke;
}
.hero .container .box .searchBox{
    position: relative;
    width: 400px;
    height: 40px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
}



.container input[type=text]:focus{
    outline: none;
    border: 1px solid #498ff7;

}

.rightContainer .socialContainer .socialIcons{
    color: whitesmoke;
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.rightContainer .socialContainer h3{
    color: whitesmoke;
    font-weight: bold;
    position: relative;
}
.rightContainer .socialContainer h3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 30px;
    height: 3px;
    background-color: #f74949;
    
}
.rightContainer .socialContainer .socialIcons i{
    color: whitesmoke;
    font-size: 1.3rem;
}
.rightContainer .socialContainer .socialIcons a{
    cursor: pointer;
}
.hero .container .buttons{
   position: relative;
   font-size: 13px;
   animation-name: btn;
   animation-timing-function: ease-in-out;
   animation-duration: 3s;

}

.btnTransparent{
    position: absolute;
    border: 1px solid white;
    top: 120px;
    left: 0;
    font-weight: bold;
    border-radius: 15px;
    background-color: #0c4a6e;
    cursor:pointer;
    color: white;
    transition: 0.2s;
    padding: 5px 27px;
    transition: .6s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    animation-name: tbtn;
   animation-fill-mode: forwards;
   animation-timing-function: ease;
   animation-duration: 3s;
}
.btnTransparent:hover{
    background-color: #f74949;
}
.btnWhite{
    position: absolute;
    top: 120px;
    right: 0;
    border-radius: 15px;
    border: 1px solid white;
    background-color: whitesmoke;
    font-weight: bold;
    color:#0c4a6e;
    padding: 5px 25px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.1);  
    animation-name: rbtn;
   animation-fill-mode: forwards;
   animation-timing-function: ease;
   animation-duration: 3s;

}
.btnWhite:hover{
    background-color: #f74949;
    color: white;
}

@keyframes btn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes tbtn{
    0%{
        left: 0;
    }
    100%{
        left: 20%;
    }
}
@keyframes rbtn{
    0%{
        right: 0;
    }
    100%{
        right: 26%;
    }
}
@media screen and (max-width: 768px) {
    .hero{
        flex-direction: column;
        justify-content: flex-start;
        height: 50vh;
        gap: 20px;
        
    }
    .leftContainer{
      position: absolute;
      top: 20vh;
      left: 10px;
    }
    .rightContainer{
        position: absolute;
        top: 50vh;
        left: 10px;
    }
    .hero .container{
        position: absolute;
        left: 10px;
        top: 35vh;
        width: 70%;
    }

    .hero .buttons{
        display: none;
    }
    .hero .container .box{
        max-width: 95vw;
        width: 100%;
    }
    .hero .container .box .searchBox{
        width: 80vw;
        
    }
    .socialContainer h3{
        display: none;
    }
    .rightContainer .socialIcons i{
        font-size: 1.6rem;
    }
   
}