.container{
    background-color:  rgba(243,244,246, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 89vh;
    padding: 10px 0;
    margin: auto;
}
.card{
    position: relative;
    width: 35%;
    height: 450px;
    border: 1px solid rgb(231, 236, 255);
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.08);
    border-radius: 10px;
    border-top: 2px solid #f74949;
}
.logo{
    position: absolute;
    background-image: url('/English.jpg');
    top: -35px;
    left: 43%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.09);

}
.header{
    position: absolute;
    left: 45%;
    top: 65px;
}
.card form{
    position: absolute;
    width: 100%;
    top: 100px;
    padding:0px 40px;
}
.card .formControl{
    display: block;
    width: 100%;
    margin-top: 10px;
    
}
.card input{
    padding: 5px 10px;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 5px;
}
.card input:focus{
    outline: none;
    border: #0c4a6e solid 1px;
}
.forgetPassword{
    position: absolute;
    margin-top: 10px;
    right: 30px;
    color: #0c4a6e;
    font-size: 13px;
}
.forgetPassword:hover{
    color: #f74949;
}
.btnLogin{
   
    margin-top: 40px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #0c4a6e;
    transition: 0.5s ease;
    cursor: pointer;
}
.btnSignup{
    margin-top: 10px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color:#0c4a6e;
    transition: 0.5s ease;
    cursor: pointer;
}
.btnLogin:hover{
    background-color: #f74949;
}
.btnSignup:hover{
    background-color: #f74949;
    color: white;
}